*{
    padding: 0;
    margin: 0;
}
.head{
    background-color: #fff;
    height: 100px;
    width: 100%;
    padding:15px;
    display: flex;
    border-bottom: solid rgb(90, 21, 19) 4px;
}
.corpo{
    background-color: #FFD43E;
    height: 87vb;
    width: 100%;
}

.pesquisa{
    display: flex;
    align-items: center;
    margin-left: 50%;
}

.pesquisa input{
    border-radius: 15px;
    width: 200px;
    background-color: #c8c8c8;
}

#lupa{
    background: url("./search.png") no-repeat right/1.3em;
    padding-left: 1.2em;
    background-color: #c8c8c8;
}

.brasil, .carrinho, .user{
    display: flex;
    margin-left: 35px;
    align-items: center;
}

.logo{
    position: absolute;
    right: 41%;
    top: 5%;
}

.barradireita{
    position: absolute;
    right: 0%;
    bottom: -0.5%;
}

.barraesquerda{
    position: absolute;
    left: 0%;
    bottom: -0.5%;
}

.imghome{
    position: absolute;
    top: 40%;
    left: 28%;
}

.slid1{
    width: 1000px;
    border-radius: 160px;
    background-color: #ffeba4;
    padding: 10px;
}

.slid2{
    width: 400px;
    border-radius: 1200px;
    background-color: #ffeba4;
    padding: 10px;
}

.slid3{
    width: 550px;
    border-radius: 150px;
    background-color: #ffeba4;
    padding: 30px;
}

.carousel{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    top: 50px;
}
.corpo h1{
    text-align: center;
}

.contato{
    position: absolute;
    top: 200px;
    margin-left: 400px;
}

.slid4{
    width: 500px;
    border-radius: 160px;
    background-color: #ffeba4;
    padding: 10px;
}
.slid5{
    width: 500px;
    border-radius: 160px;
    background-color: #ffeba4;
    padding: 10px;
}
.slid6{
    width: 500px;
    border-radius: 160px;
    background-color: #ffeba4;
    padding: 10px;
}
.login-container {
    max-width: 400px;
    padding: 100px;
    background-color: white;
    border: 1px solid rgb(255, 255, 27);
    border-radius: 30px;
    box-shadow: 0 0 10px rgb(255, 255, 27);
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
    height: 50vh; 
    margin: 0 auto; 
    margin-top: 10%;
}
h2 {
    text-align: center;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin-bottom: 8px;
}

input {
    padding: 8px;
    margin-bottom: 10px;
    box-sizing: border-box;
}

button {
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    
}
#bory-login{
    background-color: #FFD43E;
}
#letra{
    color: black;
    text-shadow: 0 0 10px rgb(255, 255, 27);
}
#usuario{
    color: black;
}
#senha{
    color: black;
}
.carousel-inner{
    text-align: center;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

